<!doctype html>
<html ng-app>
<head>
	<title>Todo Demo - Ribao Wei</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.0/moment.min.js"></script>
	<script src="todo.js"></script>
	<link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
	<style type="text/css">
		.overdue-true {
			color: red;
		}

		.overdue-false {
			color: green;
		}

		.hero-unit p{
			font-size: 14px;
			line-height: 14px;
		}

		.hero-unit li{
			line-height: 18px;
		}
	</style>
</head>
<body>
<div class="container">
<div class="hero-unit">
    <h1>TODO</h1>
    <p>Implemented features: 
    	<ul>
    	<li>Required:
    		<ul> 
    			<li>Create a new task</li>
    			<li>Mark a task as done (displayed in archive list)</li>
    			<li>Show pendding tasks</li>
    			<li>Data is persisted in MongoDB</li>
    		</ul>
    	</li>
    	<li>Bonus:
    		<ul>
    			<li>Add a due day to task</li>
    			<li>Tasks are ordered by due date</li>
    			<li>Overdued task is color in red</li>
    			<li>Source code is hosted in github</li>
    			<li>Add the ability to edit and delete a task</li>
    		</ul>
    	</li>
    </ul></p>
    <p>A few notes: <ul>
    	<li>Front-end uses Angular.js</li>
    	<li>Socket.io is used to implement data synchronization between browser and server</li>
    </ul></p>
</div>
<div ng-controller="TodoCtrl" class="row">
	<div ng-show="!editMode" class="span4">
		<h3>Create a new task</h3>
		<form>
			task: <input type="text" ng-model="todoText" size="30" placeholder="Describe the task" required> <br>
			due: <input type="date" ng-model="todoDue"> <br>
			<a href="" ng-click="addTodo()" class="btn btn-primary">Add</a>
		</form>
	</div>
	<div ng-show="editMode" class="span4">
		<h3>Edit task</h3>
		<form>
			task: <input type="text" ng-model="todoTextEdit" size="30" required><br>
			due: <input type="date" ng-model="todoDueEdit"><br>
			<a href="" ng-click="saveEditTodo()" class="btn btn-primary">Save</a>
			<a href="" ng-click="cancelEditTodo()" class="btn">Cancel</a>
		</form>
	</div>
	<div class="span4">
		<h3>Pending tasks</h3>
		<ul>
			<li ng-repeat="todo in pending() | orderBy: 'due'">
				{{todo.text}} <span ng-show="todo.due" class="overdue-{{isOverDue(todo)}}">due: {{getDate(todo)}}</span>
				<span ng-show="!editMode">
				<a href="" ng-click="archive(todo)">Done</a>
				<a href="" ng-click="remove(todo)">Delete</a>
				<a href="" ng-click="edit(todo)">Edit</a>
				</span>
			</li>
		</ul>
	</div>
	<div class="span4">
		<h3>Tasks done</h3>
		<ul>
			<li ng-repeat="todo in finished() | orderBy: 'due'">
				{{todo.text}} <span ng-show="todo.due">due: {{getDate(todo)}}</span>
				<span ng-show="!editMode">
				<a href="" ng-click="remove(todo)">Delete</a>
				</span>
			</li>
		</ul>
	</div>
</div>
</div>
</div>

</body>
</html>